# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
	{
		'label': 'Packages'
		'submenu': [
			'label': 'Output Panel'
			'submenu': [
				{
					'label': 'Toggle'
					'command': 'output-panel:toggle'
				}
			]
		]
	}
]
