# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
# 'context-menu':
# 	'atom-text-editor': [
# 		{
# 			'label': 'Toggle Output'
# 			'command': 'output-panel:toggle'
# 		}
# 	]
'menu': [
	{
		'label': 'Packages'
		'submenu': [
			'label': 'Output Panel'
			'submenu': [
				{
					'label': 'Toggle'
					'command': 'output-panel:toggle'
				}
			]
		]
	}
]
