# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
	{
		'label': 'View'
		'submenu': [
			{ 'label': 'Toggle Output Panel', 'command': 'output-panel:toggle' }
		]
	}
	{
		'label': 'Packages'
		'submenu': [
			'label': 'Output Panel'
			'submenu': [
				{
					'label': 'Toggle'
					'command': 'output-panel:toggle'
				}
			]
		]
	}
]
'context-menu':
	'.output-panel .terminal': [
		{ 'label': 'Copy', 'command': 'core:copy' }
		{ 'label': 'Paste', 'command': 'core:paste' }
		{ 'label': 'Select All', 'command': 'core:select-all' }
	]
